<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>First Framework in JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="theme-color" content="#0769ad" >
    <style media="screen">
      body {
        background: black;
        color: white;
        font-family: sans-serif;
      }
      div {
        margin: 200px auto 0 auto; /* top right bottom left */
        width: 200px;
      }
      h1 {
        margin: 20px auto;
        width: 500px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="loginDiv">
      <select class="lang">
        <option value="en">English</option>
        <option value="es">Spanish</option>
      </select>
      <button type="button" class="login">Login</button>
    </div>

    <h1 class="greeting">testing...</h1>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="greetr.js"></script>
    <script src="client.js"></script>
  </body>
</html>
